.header {
    background-color: #1f8dd6;
    width: 100%;
    height: 70px;
    color: #fff;
    border-radius: 10px;
    padding-top: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.container {
    height: 100%;
    width: 100%;
}
